h1, h2, h3, h4 {
  text-align: center;
  font-family: serif;
}

.important {
  font-style: italic;
  text-align: center;
}

.about {
  font-family: inherit;
  color: #9ec4b7;
  text-align: center;
}

.post {
  font-family: sans-serif;
  color: #8d8d8d;
  text-align: center;
}
